<%if @article.present?%>	
	<div class="row">
		<div class="col-xs-9 col-xs-offset-2">
			<div class="well well-lg">
				<div class="article-title">
				  <h3><%= @article.title %></h3>
	  		</div>

	 			<div class="article-text">
	  			<h6><%= @article.text %></h6>
	  		</div>

	  		<div class="article-text">
		  		<h3> Add a comment: </h3>
					<%= render 'comments/form' %>
	  		</div>

	  		<% @article.comments.each do |comment| %>
	  			<%if comment.user.present?%>
		  			<div class="row">
	      			<div class="col-xs-8 col-xs-offset-2">
		     				<div class="well well-sm">
							  		<h5> Commenter :<%= comment.commenter %></h5>
							  		<h6> Comment :<%= comment.body %></h6>
					  					<div class="article-text">
												<h6 class="btn btn-xs btn-info">	Commented by:<%= comment.user.name if @article.user %></h6><br/>
												<small >Created at:<%= time_ago_in_words(comment.created_at) %> ago | 
										Last updated: <%= time_ago_in_words(comment.updated_at) %> ago</small>
					  					</div>
					  		</div>
				  		</div>
				  	</div>
				  <% end %>
		  	<% end %>


				<%= link_to 'Edit', edit_article_path(@article) %>  |
				<%= link_to 'Back', articles_path %>
	  	</div>
	  </div>
	</div>
<% end %>

